:host {
  .list-movies {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
  }

  .loader {
    margin-top: 100px;
    display: flex;
    justify-content: center;
  }
  .search {
    margin: 50px;
  }
  button{
    margin-left: 50px;
  }
}
